# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.venv/

# Env files
.env


# Media
media

#preya_files
preya_files

#docker files
.dockerignore.txt
docker-compose.yml
Dockerfile


