{% extends "base.html" %}
{% block title %}Property Management | Col Realty{% endblock %}

{% block content %}
<section class="section">
    <h1>Have properties to manage in Central Texas? Col Realty can help you with that...</h1>
    <p class="section-sub">
        We are the one stop shop for all your property needs.
    </p>

    <div class="card-full">
		<ol class="steps">
            <li>Asset Protection: We treat your investment like our own, focusing on long-term value and equity growth.</li>
            <li>Tenant Excellence: Rigorous background, credit, and reference checks to ensure reliable placement.</li>
            <li>Proactive Maintenance: Regular inspections and a vetted network of contractors to catch small issues before they become costly repairs.</li>
            <li>Seamless Finance: Automated rent collection and transparent monthly reporting so you can track your cash flow effortlessly.</li>
            <li>Legal Compliance: Expert guidance on local housing laws and lease agreements to keep your investment protected.</li>
        </ol>
        <h2>Please call us at (512)699-3810</h2>
        <a href="{% url 'pages:buy' %}" class="link-button">Start Browsing Homes</a>
    </div>
</section>
{% endblock %}