{% extends "base.html" %}
{% block title %}Lease Properties| Col Realty{% endblock %}

{% block content %}
<section class="section">
    <h1>Need help to lease propoerties in Central Texas? Col Realty can help you with your leasing needs..</h1>
    <p class="section-sub">
        Call us at (512)699-3810 with your questions...
    </p>

    <div class="card-full">
		<ol class="steps">
            <li>Curated Listings: Access to a diverse portfolio of quality homes, from modern apartments to suburban retreats.</li>
            <li>Simplified Application: A streamlined, digital-first process designed to get you into your new home faster.</li>
            <li>Transparent Communication: Clear expectations regarding lease terms, deposits, and move-in timelines.</li>
            <li>Responsive Support: Dedicated assistance for maintenance requests and tenant inquiries throughout your stay.</li>
            <li>Market Expertise: Local insights to help you find a neighborhood that fits both your lifestyle and your budget.</li>
        </ol>
        <a href="{% url 'pages:buy' %}" class="link-button">Start Browsing Homes</a>
    </div>
</section>
{% endblock %}